.card h5 {
  font-size: 20px;
  line-height: 150%;
}

a {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 150%;
}

.description {
  line-height: 25px;
  font-size: 18px;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
  transition: top 0.5s, left 0.5s;
  width: 28%;
  display: block;

  @media (max-width: 1300px) {
    width: 40%;
  }

  @media (max-width: 1100px) {
    width: 45%;
  }
  @media (max-width: 900px) {
    width: 75%;
  }

  @media (max-width: 650px) {
    width: 90%;
  }
}

.card:hover {
  position: relative;
  top: -5px;
  left: -5px;
  box-shadow: 5px 5px 5px #969696;
}

.icons {
  margin-top: -30px;
  margin-bottom: -10px;
  font-size: 40px;
}

.card:nth-child(10n + 1) {
  background-color: #ef5350;
}
.card:nth-child(10n + 2) {
  background-color: #ab47bc;
}

.card:nth-child(10n + 3) {
  background-color: #651fff;
}

.card:nth-child(10n + 4) {
  background-color: #2196f3;
}

.card:nth-child(10n + 5) {
  background-color: #00bcd4;
}

.card:nth-child(10n + 6) {
  background-color: #ffc107;
}
.card:nth-child(10n + 7) {
  background-color: #4caf50;
}

.card:nth-child(10n + 8) {
  background-color: #3949ab;
}

.card:nth-child(10n + 9) {
  background-color: #ff80ab;
}

.card:nth-child(10n + 10) {
  background-color: #ff8f00;
}
