.projects {
  @media (max-width: 900px) {
    text-align: center;
    .text-center {
      display: inline-block;
    }
    @media (max-width: 650px) {
      .text-center {
        display: inline-block;
      }
    }
  }
}
.projects .letter {
  font-size: 130px;
  font-weight: 700;
  letter-spacing: -16px;
  mix-blend-mode: darken;
  line-height: 60%;
  opacity: 0.95;
  text-transform: uppercase;
  font-family: Lato, sans-serif;

  @media (max-width: 900px) {
    font-size: 110px;
    letter-spacing: -10px;
  }

  @media (max-width: 650px) {
    font-size: 100px;
  }
  @media (max-width: 500px) {
    font-size: 80px;
  }
  @media (max-width: 400px) {
    font-size: 60px;
  }
}
