.projects span {
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -25px;
  mix-blend-mode: darken;
  line-height: 60%;
  opacity: 0.95;
  text-transform: uppercase;
  font-family: Lato, sans-serif;

  /* 
    @media (max-width: 650px) {
      letter-spacing: -10px;
    } */
  /* @media (max-width: 500px) {
    font-size: 80px;
  }
  @media (max-width: 400px) {
    font-size: 60px;
  } */
  /* } */
}

.cards {
  margin-top: 50px;
  /* @media (max-width: 1050px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
    } */
}

.projects {
  padding-top: 15vh;
  display: flex;
  /* flex: 0 1 auto; */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center !important;
}
