@import url("https://fonts.googleapis.com/css?family=Lato:400,800");

.page {
  height: 100%;
}

::-moz-selection {
  background: #b39ddb;
}

::selection {
  background: #b39ddb;
}

html,
body,
.app {
  height: 98%;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

.content {
  font-size: 12px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;

  /* @media (max-width: 650px) {
    margin-left: 5px;
    margin-right: 5px;
  }

  @media (max-width: 1050px) {
    margin-left: 30px;
    margin-right: 30px;
  } */
}
