span:nth-child(1) {
  color: #f27673;
}
span:nth-child(2) {
  color: #ab47bc;
}

span:nth-child(3) {
  color: #651fff;
}

span:nth-child(4) {
  color: #3949ab;
}

span:nth-child(5) {
  color: #2196f3;
}

span:nth-child(7) {
  color: #00bcd4;
}
span:nth-child(8) {
  color: #4caf50;
}

span:nth-child(9) {
  color: #ffc107;
}

span:nth-child(10) {
  color: #ff80ab;
}

span:nth-child(11) {
  color: #ff8f00;
}

span:nth-child(12) {
  color: #ef5350;
}
span:nth-child(13) {
  color: #ab47bc;
}
span:nth-child(14) {
  color: #651fff;
}
span:nth-child(15) {
  color: #3949ab;
}

.name {
  padding-top: 21vh;
  margin-left: 150px;
}

.name span {
  font-weight: 800;
  letter-spacing: -25px;
  /* mix-blend-mode: darken; */
  line-height: 60%;
  opacity: 0.8;
  font-size: 250px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;

  /* 
    @media (max-width: 650px) {
      letter-spacing: -10px;
    } */
  /* @media (max-width: 500px) {
    font-size: 80px;
  }
  @media (max-width: 400px) {
    font-size: 60px;
  } */
  /* } */
}
.name span:hover {
  transform: translateY(50px) ease 3s;
  cursor: pointer;
}

/* @media (max-width: 800px) {
    font-size: 150px;
  }

  @media (max-width: 650px) {
    font-size: 100px;
  }
  @media (max-width: 370px) {
    font-size: 80px;
  } */
