.navbar {
  margin-right: 100px;
  @media (max-width: 900px) {
    margin-left: 50px;
  }
}
.nav {
  font-size: 1rem;
  list-style: none;
  margin-top: 2.2rem;
  display: flex;
  margin: 0;
  float: right;

  @media (max-width: 900px) {
    font-size: 0.2rem;
    float: none;
  }
  @media (max-width: 650px) {
    font-size: 0.15rem;
  }

  &__link {
    text-decoration: none;
    color: #4a4a4a;
    display: block;
    margin: 1.5rem 3rem;
    position: relative;

    @media (max-width: 900px) {
      font-size: 1.2rem;
      justify-content: center;
      margin: 1.5rem 2rem;
    }
    @media (max-width: 600px) {
      font-size: 1rem;
      flex-direction: column;
      margin: 1.5rem 0.5rem;
    }
  }
}
