.about span {
  font-size: 130px;
  font-weight: 800;
  letter-spacing: -20px;
  mix-blend-mode: darken;
  line-height: 60%;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: Lato, sans-serif;

  /* 
    @media (max-width: 650px) {
      letter-spacing: -10px;
    } */
  /* @media (max-width: 500px) {
    font-size: 80px;
  }
  @media (max-width: 400px) {
    font-size: 60px;
  } */
  /* } */
}

.about {
  padding-top: 15vh;
}

img {
  -ms-flex-item-align: center;
  margin-right: 40px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: left;
  margin-bottom: 20px;
  border: 15px solid #00bcd4;
  cursor: pointer;

  /* @media (max-width: 800px) {
    margin-right: 0px;
  } */
}

img:hover {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  transition-duration: 3s;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  flex-wrap: wrap;

  /* @media (max-width: 400px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } */
}

.social-link {
  font-size: 40px;

  /* @media (max-width: 700px) {
    font-size: 50px;
  } */
}

.social-link:hover {
  opacity: 0.5;
}

.red {
  color: #ef5350;
}

.purple {
  color: #ab47bc;
}

.dark-blue {
  color: #3949ab;
}

.blue {
  color: #2196f3;
}

.black {
  color: #000000;
}
