.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  flex-wrap: wrap;

  /* @media (max-width: 400px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } */
}

.red {
  color: #ef5350;
}

.purple {
  color: #ab47bc;
}

.dark-blue {
  color: #3949ab;
}

.blue {
  color: #2196f3;
}

.black {
  color: #000000;
}
