.nav {
  font-size: 1.2rem;
  list-style: none;
  margin-top: 4rem;
  font-size: 1.6rem;
  list-style: none;
  display: flex;
  margin: 0;
  float: right;

  @media (max-width: 900px) {
    float: none;
  }

  li {
    @media (max-width: 900px) {
      line-height: 85%;
    }
  }

  &__link {
    text-decoration: none;
    color: #4a4a4a;
    display: block;
    margin: 1.5rem 3rem;
    position: relative;

    @media (max-width: 900px) {
      font-size: 1.2rem;
      justify-content: center;
      margin: 2rem 2rem;
    }
    @media (max-width: 600px) {
      font-size: 1rem;
      flex-direction: column;
      margin: 1.5rem 0.5rem;
    }
  }
}
